[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = ./ctrlp.vim/
[submodule "superman"]
	path = superman
	url = ./superman/
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = ./vim-fugitive/
[submodule "UltiSnips"]
	path = UltiSnips
	url = ./UltiSnips/
[submodule "vim-json"]
	path = vim-json
	url = ./vim-json/
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = ./vim-colors-solarized/
